#footer {
    background-color: #374b63;
    color: white;
}

#footer .row {
    margin-bottom: 60px;
}

#footer .info{
    text-align: justify; 
    color: #afb0b1;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer .logo{
    margin-top: 10px;
}

#footer .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .second-bar {
    text-align: center;
    background-color: #1f232e;
    text-align: center;
}

#footer .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#footer .second-bar a:hover {
    text-decoration: none;
}

#footer .social-icons {
    float:right;
}


#footer .facebook:hover {
    color: #0077e2;
}

#footer .google:hover {
    color: #ef1a1a;
}

#footer .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #footer {
        text-align: center;
    }

    #footer .info{
        text-align: center;
    }
}
