@charset "UTF-8";
@import url("../fonts/montserrat/font.css");
@import url("../fonts/roboto/font.css");

body{
    font-family: 'Hind', sans-serif;
    transition: all 0.3s ease 0.0s;
}

.bg2 {
    background: #fff;
}


#info{
    background-color: #374b63;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

#info .row-title h4{
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 50px;
}
#info .info-box{
    cursor: pointer;
}
#info .info-box .hroc{
    font-size: 90px;
    color: #5a7392;
}
#info .info-box.opened-info .hroc,
#info .info-box:hover .hroc,
#info .info-box:focus .hroc{
    color: #79d156;
}
#info .info-box .fa{
    font-size: 90px;
    color: #5a7392;
}
#info .info-box.opened-info .fa,
#info .info-box:hover .fa,
#info .info-box:focus .fa{
    color: #79d156;
}
#info .info-box img{
    width: 100%;
    max-width: 90px;
}
#info .info-box .info-title{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 15px;
    color: #879ab0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#info .info-box.opened-info .info-title,
#info .info-box:hover .info-title,
#info .info-box:focus .info-title{
    color: #cfddee;
}
#info .info-box .info-circle{
    position: relative;
}
#info .info-box .info-circle .circle-icon{
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #79d156;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -12px;
    opacity: 0;
}
#info .info-box.opened-info .info-circle .circle-icon{
    width: 16px;
    height: 16px;
    opacity: 1;
    margin-left: -8px;
    margin-top: 0px;
    
}

.info-text-holder{
    overflow: hidden;
    background-color: #79d156;
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 200px;
    /*transition: all 0.3s cubic-bezier(1, .02, 0, .99) 0.0s;*/
}
.info-text-holder.info-closed{
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.info-text-holder .info-title-icon{
    background-color: #374b63;
    padding-bottom: 20px;
    text-align: center;
    display: none;
    margin-right: -20%;
    margin-left: -20%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.info-text-holder .info-title-icon div{
    font-size: 18px;
    color: #879ab0;
    font-family: 'Montserrat-SemiBold', sans-serif;
}
.info-text-holder .info-title-icon .hroc{
    vertical-align: middle;
    font-size: 70px;
    color: #79d156;
    margin-bottom: 10px;
}
.info-text-holder .info-text{
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    line-height: 30px;
}


.content-md {
    padding-top: 80px;
    padding-bottom:0;
}
.content-md h2{
    font-family: 'Hind', sans-serif;
	font-weight: 700;
    color: #515769;
    line-height: 1.4;
    margin:0 0 5px;
}
.content-md p{
    font-size: 13px;
    font-weight: 400;
    color: #656d78;
    margin-bottom: 15px;
	line-height: 1.6;
}
.content-md:after {
    border-top: 20px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    position: absolute;
    left: 10%;
    margin-left: 0px;
    width: 0;
    height: 0;;
}




.bg1 {
    background: #E9EAE8;
	padding: 100px 0 80px;
}

.bg3{
     background: url(../images/slide2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 288px;
}

#planes {
	background: #E9EAE8;
    padding-top: 50px;
	padding-bottom: 50px;
}
.caja {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #E4E4E4;
    padding-left: 25px;
    padding-right: 25px;
}
#bg1.caja {
    background: #fff;
    min-height: 288px;
}
#bg2.caja {
     background: url(../images/slide2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-position:center;
    min-height: 309px;
}
.plan-pack .caja .titulo-pack {
    display: table;
    width: 100%;
    padding: 20px 0 5px;
    border-bottom: solid 1px #CCCCCC;
}
.caja .titulo-pack h3 {
    font-size: 20px;
    color: #666666;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-weight:bold;
}
.caja .titulo-pack .link-detalle {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
	color: #48c5f1; 
	font-size: 10px;
	text-decoration:none;
}
.caja .detalle-pack {
    padding: 24px 0 0;
    margin: 0px 0 0;
}
.caja .detalle-pack ul, .detalle-pack ol {
    list-style: none;
    margin: 0px;
    padding: 0;
}
.caja .detalle-pack .caract-pack {
    border-bottom: none;
	padding: 5px 0px 0px 0px;
}
.caja .detalle-pack .caract-pack .nombre-servicio {
    font-size: 18px;
    color: #999999;
    margin: 0px;
}
.caja .detalle-pack .caract-pack .caract-servicio {
    font-size:50px;
	color: #666666;
	font-weight: bold;
	line-height: 1em;
}
.caract-servicio span {
    font-size:14px;
	color: #585858;
    display:inline;
    font-weight:100;
}
.caja .precio-pack {
    padding: 0;
    width: 100%;
    display: table;
    position: relative;
    top: -25px;
}
.precio-pack .detalle-precio {
    width: 50%;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.detalle-precio .meses-promocion {
    font-size: 16px;
    color: #666666;
    position: relative;
    top: 8px;
}
.detalle-precio .precio-mensual {
    font-size: 40px;
    color: #388dd6;
    font-weight: bold;
}
.precio-mensual span {
    font-size: 14px;
    color: #388dd6;
    position: relative;
    top: -16px;
}
.extra {
    font-size: 16px;
    color: #388dd6;
	min-height: 288px;
	background: #fff;
}

.heading-divider {
    font-size: 16px;
    color: #388dd6;
	text-align:center;
}
